/*- - - - - - - - - - -*\
|/- -  List Design  - -\|
|\- Designed by Blipie-/|
\*- - - - - - - - - - -*/
/*//////////////////
   Fonts
   /////////////*/
@\import "https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap";
@\import "https://fonts.googleapis.com/css2?family=Alice&display=swap";

/*//////////////////
   Variables
   /////////////*/
:root {
   /*- -Colors- -*/
   --prim-clr: #f3f6c3;
   --grey-clr: 75, 88, 92;
   --menu-clr: #2a3336;
   --menu-slctB-clr: #d1d99c;
   --menu-slctBg-clr: 244, 255, 187;
   /*
   */
   /*- -Images- -*/
   /*- - - CHANGE LIST BACKGROUND HERE - - -*/
   --bg-img: url(https://imgur.com/BScnvlZ.png);
   /*
   */
   /*- -Fonts- -*/
   --font-normal: 'Alice', serif;
   --font-title: 'Caladea', serif;
   /*
   */
   /*- -Size- -*/
   --menu-width: 250px;
   --sort-btn-height: 30px;
   --list-item-width: 170px;
   --list-item-height: 242px;
   --list-item-bRad: 6px;
}

/*//////////////////
   General
   /////////////*/
body {
   margin: 0;
   padding: 0;
   overflow-x: auto;
   min-height: 100vh;
   font-family: var(--font-normal);
   background: var(--bg-img);
   background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center;
   min-width: 950px;
}

/*- -Scrollbar- -*/
* {
   /*For Firefox*/
   scrollbar-color: var(--prim-clr) rgb(var(--grey-clr));
   scrollbar-width: thin;
}

/*For Chrome like browsers*/
::-webkit-scrollbar {
   background: rgb(var(--grey-clr));
   width: 10px;
   height: 10px;
}

::-webkit-scrollbar-thumb {
   background: var(--prim-clr);
}

::-webkit-scrollbar-thumb:hover {
   background: var(--menu-slctB-clr);
}

::-webkit-scrollbar-corner {
   background: rgb(var(--grey-clr));
}

/*- -Links- -*/
a {
   color: #fff;
}

a:hover {
   text-decoration: none !important;
}

/*//////////////////
   Header
   /////////////*/
.header {
   position: fixed;
   top: 0;
   width: 120px;
   height: 50px;
   background: none;
   display: flex;
   align-items: center;
   z-index: 300;
}

.header .header-title {
   position: relative;
   top: 0;
   background-image: url(https://image.myanimelist.net/ui/5LYzTBVoS196gvYvw3zjwFKbp7-DyY8QwUHBkgAuhEY);
   background-size: contain;
   width: 50px;
   height: 23px;
   filter: invert(10%) sepia(54%) saturate(223%) hue-rotate(339deg) brightness(104%) contrast(93%);
   margin-left: 50px;
}

.header .header-menu {
   position: fixed;
   top: calc(100% - 50px) !important;
   right: 0;
   background: rgba(var(--grey-clr), 0.66);
   width: 275px;
   height: 50px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   border-radius: 50px 0 0 50px;
}

.header .header-menu .btn-menu {
   margin-right: 15px;
}

.header .header-menu .btn-menu,
.header .header-menu .btn-menu a,
.header .header-info,
.header .header-info a {
   color: var(--prim-clr);
}

/*Swap to manga list*/
.header .header-menu .btn-menu .header-menu-button {
   pointer-events: none;
}

.fa.fa-angle-down {
   display: none;
}

.header .header-menu .list-menu {
   display: block !important;
   top: -70px;
   right: 0;
   width: 250px;
   height: 50px;
   border: none;
   box-shadow: none;
   background: rgba(var(--grey-clr), 0.66);
   border-radius: 50px 0 0 50px;
   transition: width 200ms;
}

.header .header-menu .list-menu:hover {
   width: 275px;
}

.header .header-menu .list-menu .icon-menu {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.6em;
   color: var(--prim-clr);
}

.header .header-menu .list-menu .icon-menu:hover {
   background: none;
}

.header .header-menu .list-menu .icon-menu svg.icon {
   display: none;
}

.header .header-menu .list-menu .icon-menu .text {
   position: relative;
   top: 0;
   left: 0;
   display: flex;
}

.header .header-menu .list-menu .icon-menu .text::before {
   content: 'Swap to';
   font-family: var(--font-normal);
   margin-right: 5px;
}

.header .header-menu .list-menu .icon-menu .text::after {
   content: '\f021';
   font-family: FontAwesome;
   order: -1;
   margin-right: 5px;
   transition: transform 300ms ease-out;
}

.header .header-menu .list-menu .icon-menu:hover .text::after {
   transform: rotate(360deg);
}

/*//////////////////
   User menu
   /////////////*/
.list-menu-float {
   display: flex;
   flex-direction: column;
   top: 0;
   left: calc(-1 * var(--menu-width));
   width: var(--menu-width);
   height: 100%;
   border: none;
   z-index: 300;
   background: var(--menu-clr);
   padding-top: 50px;
   transition: left 300ms;
}

.list-menu-float::before {
   content: '\f0c9';
   position: fixed;
   top: 0;
   left: 0 !important;
   color: var(--prim-clr);
   font-family: FontAwesome;
   font-size: 2.4em;
   width: 50px;
   height: 50px;
   line-height: 50px;
}

.list-menu-float::after {
   content: 'Menu';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 50px;
   font-size: 1.8em;
   padding-left: 50px;
   text-align: left;
   line-height: 50px;
   color: var(--prim-clr);
   font-family: var(--font-title);
   text-transform: uppercase;
   font-weight: 700;
   box-sizing: border-box;
   opacity: 0;
   transition: opacity 200ms 300ms;
}

.list-menu-float:hover::after {
   opacity: 1;
}

.list-menu-float:hover {
   left: 0;
}

.list-menu-float .icon-menu {
   width: 100%;
   height: 45px;
   background: none !important;
   display: flex;
   align-items: center;
}

.list-menu-float .icon-menu svg.icon {
   display: none;
}

.list-menu-float .icon-menu:hover::before {
   content: '';
   background: var(--menu-slctB-clr);
   width: 5px;
   height: 100%;
}

.list-menu-float .icon-menu .text {
   position: relative;
   width: 100%;
   opacity: 1;
   top: 0;
   left: 0;
   text-align: left;
   margin-left: 20px;
   font-family: var(--font-title);
   font-size: 1.4em;
   font-weight: 700;
   color: var(--prim-clr);
}

.list-menu-float .icon-menu:hover {
   width: 100% !important;
   background: rgba(var(--menu-slctBg-clr), 0.13) !important;
}

.list-menu-float .icon-menu.profile,
.list-menu-float .icon-menu.logout {
   margin: 10px 0;
}

.list-menu-float .icon-menu.quick-add::after,
.list-menu-float .icon-menu.logout::after {
   content: '';
   position: absolute;
   top: -5px;
   left: 50%;
   transform: translateX(-50%);
   width: 90%;
   height: 1px;
   background: var(--prim-clr);
}

.list-menu-float .icon-menu.profile::after {
   content: 'Profile';
   color: var(--prim-clr);
   font-family: var(--font-title);
   font-size: 1.4em;
   font-weight: 700;
   margin-left: 20px;
}

.list-container::before {
   content: '';
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(var(--grey-clr), 0.78);
   opacity: 0;
   z-index: 250;
   transition: opacity 300ms;
   pointer-events: none;
}

.list-menu-float:hover~.list-container::before {
   opacity: 1;
}

.list-menu-float .icon-menu.setting {
   display: none;
}

/*//////////////////
   List container
   /////////////*/
.list-container {
   width: 100%;
   background: none;
   border: none;
   min-height: calc(100vh - 50px);
}

/*//////////////////
      Status menu
      /////////////*/
.status-menu-container {
   width: 100%;
   height: 50px;
   position: sticky;
   top: 0;
   background: rgba(var(--grey-clr), 0.66);
   border-bottom: none;
   z-index: 200;
}

.status-menu-container.fixed {
   position: sticky;
   top: 0;
}

.status-menu-container .status-menu {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.status-menu-container .status-menu .status-button {
   margin: 0 20px;
   padding: 14px 0;
   font-family: var(--font-title);
   color: var(--prim-clr);
   font-size: 0;
}

.status-menu-container .status-menu .status-button.on::before,
#status-menu .status-button:hover::before {
   color: var(--prim-clr);
   font-weight: normal;
   transform: translateY(-2px);
}

#status-menu .status-button::before {
   font-size: 18px;
   display: block;
   transition: transform 200ms;
}

.status-menu-container .status-menu .status-button:after {
   background-color: rgb(var(--grey-clr));
   height: 0;
   transition: height 200ms;
}

.status-menu-container .status-menu .status-button.on:after,
.status-menu-container .status-menu .status-button:hover::after {
   height: 4px;
}

.status-menu-container .status-menu .status-button.all_anime::before {
   content: 'All';
}

.status-menu-container .status-menu .status-button.watching::before {
   content: 'Watching';
}

.status-menu-container .status-menu .status-button.reading::before {
   content: 'Reading';
}

.status-menu-container .status-menu .status-button.completed::before {
   content: 'Completed';
}

.status-menu-container .status-menu .status-button.onhold::before {
   content: 'Paused';
}

.status-menu-container .status-menu .status-button.dropped::before {
   content: 'Dropped';
}

.status-menu-container .status-menu .status-button.plantowatch::before,
.status-menu-container .status-menu .status-button.plantoread::before {
   content: 'Planned';
}

/*//////////////////
      Search bar
      /////////////*/
.status-menu-container .search-container {
   right: 0;
   margin-left: 40px;
   margin-right: 20px;
   white-space: nowrap;
   display: flex;
   align-items: center;
}

.status-menu-container .search-container #search-box {
   height: 20px;
   margin: 0;
   background: #ebebeb;
   border-radius: 50px;
}

.status-menu-container .search-container #search-box.open {
   width: 120px;
}

.status-menu-container .search-container #search-box input {
   border: none;
   padding: 0 5px;
   background: none;
   font-family: var(--font-normal);
   font-size: 1.2em;
   line-height: 20px;
}

.status-menu-container .search-container #search-box input:focus {
   outline: none;
}

.status-menu-container .search-container #search-button {
   margin: 0;
   width: 28px;
   height: 28px;
   display: grid;
   place-items: center;
   font-size: 1.6em;
   color: var(--prim-clr);
}

/*//////////////////
      List block
      /////////////*/
.list-block {
   width: 100%;
   min-height: 0;
}

.status-menu-container.fixed+div.list-block {
   margin-top: 16px;
}

.list-unit {
   width: 60%;
   margin: 0;
}

/*- -Stats--*/
.list-unit .list-status-title {
   visibility: hidden;
   width: 0;
   height: 0;
   position: static;
}

.list-unit .list-status-title .text {
   display: none;
}

.list-unit .list-status-title .stats {
   visibility: visible;
   display: flex;
   flex-direction: column;
   right: 0;
   height: auto;
   top: 70px;
   line-height: normal;
}

#show-stats-button,
#advanced-options-button {
   background: var(--prim-clr);
   height: var(--sort-btn-height);
   width: 100px;
   margin: 0;
   margin-bottom: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 3px 0 0 3px;
   font-size: 1.2em;
   color: rgb(var(--grey-clr));
   border: 1px solid transparent;
   border-right: none;
   box-sizing: border-box;
   transition: border-color 200ms;
}

#show-stats-button:hover,
#advanced-options-button:hover {
   border-color: rgb(var(--grey-clr));
}

#show-stats-button i,
#advanced-options-button i {
   order: 1;
   margin-left: 4px;
}

#show-stats-button {
   display: none;
}

/*- -Sort menu- -*/
tr.list-table-header {
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   top: calc(80px + var(--sort-btn-height));
   right: 0;
   width: 100px;
   background: rgba(var(--menu-slctBg-clr), 0.66);
   border-radius: 3px 0 0 3px;
   height: var(--sort-btn-height);
   transition: height 300ms;
   overflow: hidden;
   z-index: 2;
}

tr.list-table-header:hover {
   height: calc(5 * var(--sort-btn-height));
}

tr.list-table-header::before {
   content: '\f0dc   Order';
   font-family: var(--font-title), FontAwesome;
   font-size: 1.3em;
   background: var(--prim-clr);
   width: 100%;
   height: var(--sort-btn-height);
   text-align: center;
   line-height: var(--sort-btn-height);
   border-radius: 3px 0 0 3px;
   color: rgb(var(--grey-clr));
   z-index: 1;
   box-sizing: border-box;
   border: 1px solid transparent;
   border-right: none;
}

tr.list-table-header:hover::before {
   border-color: rgb(var(--grey-clr));
}

tr.list-table-header:hover {
   border-bottom: 1px solid rgb(var(--grey-clr));
}

.list-table .list-table-header .header-title {
   background: none;
   width: 100% !important;
   height: var(--sort-btn-height);
   border: none;
   padding: 0 !important;
}

.list-table .list-table-header .header-title:hover {
   border-left: 3px solid rgb(var(--grey-clr));
   box-sizing: border-box;
}

.list-table .list-table-header .header-title .link.sort {
   width: 100%;
   height: 100%;
   text-align: center;
   line-height: var(--sort-btn-height);
   font-weight: normal;
   color: rgb(var(--grey-clr));
}

.list-table .list-table-header .header-title .link.sort:hover {
   color: rgb(var(--grey-clr));
}

.list-table .list-table-header .header-title.status,
.list-table .list-table-header .header-title.number,
.list-table .list-table-header .header-title.image,
.list-table .list-table-header .header-title.tags,
.list-table .list-table-header .header-title.rated,
.list-table .list-table-header .header-title.days,
.list-table .list-table-header .header-title.started,
.list-table .list-table-header .header-title.finished,
.list-table .list-table-header .header-title.studio,
.list-table .list-table-header .header-title.licensor,
.list-table .list-table-header .header-title.storage,
.list-table .list-table-header .header-title.priority {
   display: none;
}

.fa-sort-down:before,
.fa-sort-desc:before,
.fa-sort-up:before,
.fa-sort-asc:before {
   color: rgb(var(--grey-clr));
}

/*- -Anime list- -*/
.list-table {
   border: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.list-table>tbody:nth-of-type(2n+1) {
   background: none;
}

.list-table .list-table-data .data {
   border: none;
}

tbody.list-item {
   width: var(--list-item-width);
   height: var(--list-item-height);
   background: none;
   margin: 7px 5px;
   position: relative;
   transform: scale(0.95);
   transition: transform 150ms, box-shadow 150ms;
   border-radius: var(--list-item-bRad);
}

tbody.list-item:hover {
   transform: scale(1);
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.list-table .list-table-data {
   width: 100%;
   height: 100%;
   display: block;
}

.data.airing-finished,
.data.airing-started,
.data.days,
.data.finished,
.data.licensor,
.data.magazine,
.data.priority,
.data.rated,
.data.retail,
.data.season,
.data.started,
.data.storage,
.data.studio,
.data.tags {
   display: none !important;
}

/*Anime cover*/
.list-table .list-table-data .data.image,
.list-table .list-table-data .data.image .link,
.list-table .list-table-data .data.image .image,
.list-table .list-table-data .data.image .link::after {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   object-fit: cover;
   border-radius: var(--list-item-bRad);
}

.list-table .list-table-data .data.image {
   z-index: -1;
   pointer-events: none;
}

.list-table .list-table-data .data.image .image {
   border: none;
}

/*HD covers*/
.list-table .list-table-data .data.image .link::after {
   content: '';
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.list-table .list-table-data .data.image .link::before {
   content: '';
   position: absolute;
   left: 0;
   width: 100%;
   height: 100%;
   background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
   border-radius: var(--list-item-bRad);
   z-index: 2;
   transition: opacity 200ms;
}

.list-table .list-table-data:hover .data.image .link::before {
   opacity: 0.4;
}

/*Number*/
.list-table .list-table-data .data.number {
   position: absolute;
   top: 5px;
   left: 10px;
   color: rgba(255, 255, 255, 0.6);
   font-size: 1.2em;
}

.list-table .list-table-data .data.number::before {
   content: '#';
   font-size: 0.8em;
}

/*Anime status*/
.list-table .list-table-data .data.status {
   position: absolute;
   width: 100%;
   height: 100%;
   bottom: 0;
   left: 0;
   padding: 0;
   z-index: 2;
   border-radius: var(--list-item-bRad);
   background: none !important;
   border-bottom: 4px solid;
   box-sizing: border-box;
   pointer-events: none;
}

.data.status.reading,
.data.status.watching {
   border-color: #2db039 !important;
}

.data.status.completed {
   border-color: #26448f !important;
}

.data.status.onhold {
   border-color: #f1c83e !important;
}

.data.status.dropped {
   border-color: #a12f31 !important;
}

.data.status.plantoread,
.data.status.plantowatch {
   border-color: #c3c3c3 !important;
}

/*Anime title*/
.list-table .list-table-data .data.title {
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 5px;
   padding-bottom: 30px;
   background: rgba(44, 44, 44, 0.8);
   width: 100%;
   box-sizing: border-box;
   border-radius: 0 0 var(--list-item-bRad) var(--list-item-bRad);
}

.list-table .list-table-data .data.title .link {
   font-size: 1.2em;
   transition: color 200ms;
}

.list-table .list-table-data .data.title .link:hover {
   color: var(--prim-clr);
}

.icon-watch,
.icon-watch-pv {
   display: none !important;
}

/*Progress*/
.list-table .list-table-data .data.progress,
.list-table .list-table-data .data.chapter {
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 0 5px;
   width: 100%;
   height: 25px;
   text-align: left;
   line-height: 25px;
   box-sizing: border-box;
   color: #fff;
}

.fa-plus-circle::before {
   content: '+' !important;
   font-size: 1.3em;
   transition: color 200ms;
}

.fa-plus-circle:hover::before {
   color: var(--prim-clr);
}

/*Score*/
.list-table .list-table-data .data.score {
   position: absolute;
   top: 5px;
   right: 10px;
}

.list-table .list-table-data .data.score .link {
   font-size: 1.4em;
   text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

/*Anime content status*/
.list-table .list-table-data .data.title .content-status,
.list-table .list-table-data .data.title .rewatching,
.list-table .list-table-data .data.title .rereading {
   position: absolute;
   bottom: var(--list-item-height);
   left: -10px;
   padding: 2px 15px;
   border-radius: 50px;
   color: #fff;
   transform: translateY(50%);
   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
   font-size: 1.1em;
}

.list-table .list-table-data .data.title .content-status::before {
   content: '\f111';
   font-family: FontAwesome;
}

.list-table .list-table-data .data.title .content-status {
   background: #E43434;
}

.list-table .list-table-data .data.title .rewatching,
.list-table .list-table-data .data.title .rereading {
   background: #3498E4;
}

.list-table .list-table-data .data.title .rewatching::before,
.list-table .list-table-data .data.title .rereading::before {
   content: '\f01e';
   font-family: FontAwesome;
}

/*Add - Edit - More buttons*/
.list-table .list-table-data .data.title .add-edit-more {
   visibility: hidden;
   margin-right: 0;
   position: absolute;
   top: -20px;
   right: 5px;
   font-size: 0;
}

.list-table .list-table-data:hover .data.title .add-edit-more .edit,
.list-table .list-table-data:hover .data.title .add-edit-more .add {
   visibility: visible;
}

.list-table .list-table-data .data.title .add-edit-more .edit a::before {
   content: '\f044';
}

.list-table .list-table-data .data.title .add-edit-more .add a::before {
   content: '\f067';
}

.list-table .list-table-data .data.title .add-edit-more .edit a::before,
.list-table .list-table-data .data.title .add-edit-more .add a::before {
   font-family: FontAwesome;
   font-size: 18px;
   position: absolute;
   right: 0;
   cursor: pointer;
   transform: scale(0.95);
   transition: transform 200ms;
   text-shadow: 0 0 3px #000;
   color: var(--prim-clr);
}

.list-table .list-table-data .data.title .add-edit-more .edit a:hover::before,
.list-table .list-table-data .data.title .add-edit-more .add a:hover::before {
   transform: scale(1);
}

.list-table .list-table-data .data.title .more {
   display: none;
}

.list-table .list-table-data a.edit-disabled {
   color: #fff;
}

/*Anime type*/
.list-table .list-table-data .data.type,
.list-table .list-table-data .data.volume {
   position: absolute;
   bottom: 0;
   right: 0;
   color: #fff;
   z-index: 2;
   padding: 0 5px;
   box-sizing: border-box;
   height: 25px;
   line-height: 25px;
}

/*//////////////////
   Footer
   /////////////*/
footer {
   height: 50px;
}

#footer-block {
   background: none;
   height: 100%;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

#copyright {
   color: rgb(var(--grey-clr));
   font-family: var(--font-normal);
}

#copyright::after {
   content: 'Designed by Blipie, coded by ExyiN.';
}
